.Box:hover{
    transform: scale(1.1);
    transition-duration: .5s;
    
}
.Box{
    border-radius:1rem;
}
.social:hover{
    transform: scale(1.1);
    transition-duration: .5s;
    
}

.type{
    overflow: hidden;
    border-right:solid black;
    white-space: nowrap;
    width: 100;
    animation:typing 10s forwards;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

a, a:hover {
  text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
  width: 40px;
    height: 40px;
  color: #000;
  background-color: #FFF;
  border: 1px solid #000;
  padding-top: 12px;
  padding:1rem;
  /* border-radius: 22px; */
  /* -moz-border-radius: 22px; */
  /* -webkit-border-radius: 22px; */
  /* -o-border-radius: 22px; */
}

.socialbtns .fa:hover {
  color: #ffffff;
  background-color: #000;
  border: 1px solid #000;
}