.github_calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin-top: 2rem;
}
.github_calendar footer{
    background: transparent;
    padding: 1rem 0rem;
    font-size: 0.9rem;
}
.git_stats img{
  background: var(--color-bg-variant);
  width: 100%;
  object-fit: cover;
}
.github_status>div{
    padding: 0rem 0rem;
}
